Unidecode==0.04.18
cffi==1.2.1
chardet==2.3.0
ckanapi==3.5
dbfread==2.0.4
docopt==0.6.2
manage.py==0.2.10
pycparser==2.14
python-dateutil==2.4.2
python-slugify==0.0.7
requests==2.4.3
simplejson==3.8.0
six==1.9.0
tabutils==0.9.1
unicodecsv==0.9.4
wsgiref==0.1.2
xattr==0.7.5
xlrd==0.9.3
